@navbar-background: black;
@navbar-text-color: white;
@boton-color: #007bff;
@blanco: #fff;
@gris: #ccc;
@boton-resalto: #0056b3;
@negro: #000;

@size : {
    phone: 380px;
    tablet: 700px;
    desktop: 1024px;
    widescreen: 1200px;
}

@size-prf : {
    phone: s;
    tablet: m;
    desktop: l;
    widescreen: xl;
}

@import "grid.less";
@import "style.less";
@import "footer.less";
@import "navbar.less";
@import "banner.less";
@import "tarjetas.less";
@import "informacion.less";
@import "contacto.less";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}